/* CSS reset */
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
	background-color: #F6D9D5;
	width: 300px;
	margin: auto;
}

/* Main box */
.collections {
	background-color: #FFF;
	margin: 20px;
	padding: 20px;
	border: 3px solid #000;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	text-align: center;
}

/* List boxes */
ul {
	background-color: #FFF5F4;
	padding: 10px;
	margin-top: -15px;
	margin-bottom: 15px;
	list-style: none;
	border: 1px solid #ccc;
	border-top: none;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 18px;
	margin: auto;
	background-color: #DDF3F6;
	width: 160px;
	padding: 3px;
	text-align: center;
}

li {
	font-family: 'Dosis', sans-serif;
	margin-left: 13px;
}

a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

a:hover {
	font-weight: bold;
	font-size: 15px;
}

a:visited {
	color: #D1978F;
}